<section class="app-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="30" height="30"
                    class="d-inline-block align-top" alt="" loading="lazy">
                Angular
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link home" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link favorite-list" routerLink="/favorite-list" routerLinkActive="active">Favorite
                            List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>