<div class="home">

    <h2 class="text-center mb-5 title">RANDOM USER GENERATOR</h2>

    <div class="loading text-center" *ngIf="loading">
        <img src="assets/images/loading.gif" alt="loading">
    </div>

    <div swing-stack [stackConfig]="stackConfig" #myswing (throwout)="onThrowOut($event)">
        <div swing-card #mycards *ngFor="let user of users;let idx = index" id="profile{{idx}}" class="profile-item">
            <div class="box">
                <div class="box-detail">
                    <div class="box-detail__img">
                        <a href="javascript:void(0);" (click)="getNewUser()" class="refresh">New</a>
                        <img [src]="user.picture.large" (error)="$event.target.src=user.defaultAvatar" alt="avatar">
                    </div>
                    <p class="box-detail__title">{{title}}</p>
                    <p class="box-detail__value">{{value}}</p>
                </div>
                <div class="box-action">
                    <ul class="values_list">
                        <li [class.active]="index === 0" id="0" title="Hi, My name is" [attr.data-value]="user.fullName"
                            mouseoverCatcher (passData)="changeView($event)">
                            <i class="far fa-user"></i>
                        </li>
                        <li [class.active]="index === 1" id="1" title="My email address is"
                            [attr.data-value]="user.email" mouseoverCatcher (passData)="changeView($event)">
                            <i class="far fa-envelope"></i>
                        </li>
                        <li [class.active]="index === 2" id="2" title="My birthday is"
                            [attr.data-value]="user.dob.date | date:'dd/MM/yyyy'" mouseoverCatcher
                            (passData)="changeView($event)"><i class="fas fa-birthday-cake"></i>
                        </li>
                        <li [class.active]="index === 3" id="3" title="My address is"
                            [attr.data-value]="user.fullAddress" mouseoverCatcher (passData)="changeView($event)"><i
                                class="fas fa-map-marked-alt"></i>
                        </li>
                        <li [class.active]="index === 4" id="4" title="My phone number is"
                            [attr.data-value]="user.phone" mouseoverCatcher (passData)="changeView($event)"><i
                                class="fas fa-phone-alt"></i></li>
                        <li [class.active]="index === 5" id="5" title="My password is"
                            [attr.data-value]="user.login.password" mouseoverCatcher (passData)="changeView($event)"><i
                                class="fas fa-lock"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="action mt-3 mb-5">
        <button class="btn btn-danger" (click)="nopeUser()">Nope</button>
        <button class="btn btn-success" (click)="likeUser()">Like</button>
    </div>

</div>