<section class="home">
    <div class="box">
        <div class="box-detail">
            <div class="box-detail__img">
                <a href="javascript:void(0);" (click)="getNewUser()" class="refresh">New</a>
                <img src="https://randomuser.me/api/portraits/men/25.jpg" alt="avatar">
            </div>
            <p class="box-detail__title">My name is</p>
            <p class="box-detail__value">Carrie Barrett</p>
        </div>
        <div class="box-action">
            <ul class="values_list">
                <li class="active"><i class="far fa-user"></i></li>
                <li class=" "><i class="far fa-envelope"></i></li>
                <li class=" "><i class="fas fa-birthday-cake"></i></li>
                <li class=" "><i class="fas fa-map-marked-alt"></i></li>
                <li class=" "><i class="fas fa-phone-alt"></i></li>
                <li class=" "><i class="fas fa-lock"></i></li>
            </ul>
        </div>
    </div>
</section>